<div class="center hero-unit">
  <h1>TWEETER</h1>

  <h2>
    This is the home page for the
    <a href="http://tweeter.com/">TWEETER</a>
    App!!!
  </h2>

  <%= link_to "Sign up now!", new_member_registration_path, class: "btn btn-large btn-primary" %>
</div>
