<footer class="footer">
  <small>
    <a href="http://google.com">Search</a>
    by Eric Choi
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://espn.com">ESPN</a></li>
    </ul>
  </nav>
</footer>